  </main>
  <footer>
    <p>Made with ❤️ by <span class="colorfull">SWP</span> !</p>
  </footer>
  <script src="/js/theme.js"></script>
  <script src="/js/carrousel.js"></script>
  <script src="/js/add-recipe-save.js"></script>
</body>
</html>
